<div class="row">
  <div class="col-12">
    <h2>Sign Up</h2>
    <p>Signing up for an account will allow to view a history of messages sent and received. Also, message
      control URLs will only be accessible after logging in. There may be some other benefits in the
      future...we'll see.</p>

    <form id="signUpForm">
      <div class="row">
        <div class="col-3">
          <label for="name">Name:</label>
        </div>
        <div class="col-9">
          <input type="text" id="name" name="name"/>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <label for="email">Email:</label>
        </div>
        <div class="col-9">
          <input type="email" id="email" name="email"/>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <label for="password">Password:</label>
        </div>
        <div class="col-9">
          <input type="password" id="password" name="password"/>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <label for="passwordAgain">Password Again:</label>
        </div>
        <div class="col-9">
          <input type="password" id="passwordAgain" name="passwordAgain"/>
        </div>
      </div>
      <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
          <button type="submit">Sign Up</button>
        </div>
      </div>
      <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
          <a href = "signIn.html">Sign In?</a> |
          <a href = "forgetPassword.html">Forgot your password?</a>
        </div>
      </div>
    </form>
  </div>
</div>
